<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<add key="github" value="https://nuget.pkg.github.com/know-history/index.json" />
	</packageSources>
	<packageSourceCredentials>
		<github>
			<add key="Username" value="charles@knowhistory.ca" />
			<add key="ClearTextPassword" value="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" />
		</github>
	</packageSourceCredentials>
</configuration>